{% extends "layout.html" %}


{% block body %}


<h1 class="row justify-content-center" style="margin: 2rem; padding-top: 3rem;">Asteroid Hub</h1>

<div class="row justify-content-center">
    <form method="POST">
        <input type="date" id="startDate" name="startDate" style="margin-right: 0.5rem;">
        <input type="date" id="endDate" name="endDate" style="margin-left: 0.5rem;">
        <div class="row justify-content-center">
            <input type="submit" style="margin-top: 1rem">
        </div>    
    </form>
</div>

{%if done%}

<div class="container-fluid">
    {% for fileLocation in graphs %}
    <div class="row justify-content-center">
        <div class="card" style="width: 60rem; margin-top: 2rem;">
            <img class="card-img-top" src="{{fileLocation}}" alt="Card image cap">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h5 class="card-title">{{asteroidName}}</h5>
                </div>
                <div class="row justify-content-center">
                    <a href="{{link}}" class="btn btn-primary" target="_blank">NASA Reference</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>



{%endif%}


{% endblock %}